html, body {
    background: #0b303e;
}

#dashboard_container {
    display: flex;
    flex-direction: column;
    min-width: 245px;
    min-height: 365px;
}

.button {
    margin: 5px 10%;
    padding: 0;
}

#dashboard_container a {
    display: block;
    padding: 10px 15px;
}
