body {
  color: #fff;
}

#updatestatus {
  background: #262c32;
  width: 100%;
  color: #d4d5d6;
  border: 0;
  padding: 0;
}

#updatestatus .map {
  margin-left: 4px;
}

#innerstatus {
  padding: 4px;
  float: right;
  width: 50%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#loadlevel {
  border-width: 0;
  background: transparent;
  color: #FFF;
}

#mobileinfo {
  float: left;
  width: 50%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position:relative;
  padding: 4px 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#mobileinfo .portallevel {
  padding: 0 0.25em;
  color: #FFF;
}

#mobileinfo .resonators-container {
}

#mobileinfo .resonator {
  position: absolute;
  width: 12%;
  height: 100%;
  top: 0;
  border-top: 3px solid var(--resonator-color, #ccc);
  box-sizing: border-box;
}

/* Position resonators based on their data-slot value */
#mobileinfo .resonator[data-slot="0"] { left: 0%; }
#mobileinfo .resonator[data-slot="1"] { left: 12.5%; }
#mobileinfo .resonator[data-slot="2"] { left: 25%; }
#mobileinfo .resonator[data-slot="3"] { left: 37.5%; }
#mobileinfo .resonator[data-slot="4"] { left: 50%; }
#mobileinfo .resonator[data-slot="5"] { left: 62.5%; }
#mobileinfo .resonator[data-slot="6"] { left: 75%; }
#mobileinfo .resonator[data-slot="7"] { left: 87.5%; }

#mobileinfo .resonator.empty {
  border-top-color: transparent;
}

/* Keep the north indicator (the dot above north resonators) */
#mobileinfo .resonator.north:before {
  content: "";
  background-color: var(--resonator-color, red);
  border-radius: 100%;
  display: block;
  height: 6px;
  width: 6px;
  left: 50%;
  top: -3px;
  margin-left: -3px;
  position: absolute;
  z-index: 1;
}

#mobileinfo .filllevel {
  position: absolute;
  bottom: 0;
  height: 3px;
}

#mobileinfo .enl .filllevel {
  background-color: #03fe03 !important;
}

#mobileinfo .res .filllevel {
  background-color: #00c5ff !important;
}

#mobileinfo .mac .filllevel {
  background-color: #ff0028 !important;
}

#playerstat {
  height: initial;
}

#playerstat h2 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 5px;
}

#playerstat h2 #name {
  display: flex;
  align-items: center;
}

#playerstat h2 #name .playername,
#playerstat h2 #name:hover .playername{
  max-width: 60vw;
}

#playerstat h2 #stats {
  white-space: nowrap;
  overflow: initial;
}

#name #signout { /* no hover, always show signout button */
  display: inline-block;
  position: initial;
  margin-left: 4px;
}

#searchwrapper .ui-accordion-header {
  padding: 0.3em 0;
}
#searchwrapper li {
  line-height: 1.3em;
}

#chatcontrols {
  height: 38px;
  width: 100%;
  display: none !important;
}

/* hide shrink button */
#chatcontrols a:first-child {
  display: none;
}

#chatcontrols a {
  width: 50px;
  height:36px;
  overflow: hidden;
  vertical-align: middle;
  line-height: 36px;
  text-decoration: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#chat {
  left:0;
  right:0;
  top: 1px !important;
  bottom:30px;
  width: auto;
}

#chatinput {
  width: 100%;
  height: 30px;
}

#chat td:nth-child(2), #chatinput td:nth-child(2) {
  width: 77px;
}

#chatcontrols a.active {
  border-color: #FFCE00;
  border-bottom-width:0px;
  font-weight:bold
}

#chatcontrols a.active + a {
  border-left-color: #FFCE00
}

#sidebartoggle {
  display: none !important;
}

#scrollwrapper {
  bottom: 0;
  max-height: none !important;
  width: 100% !important;
  right: 0;
  left:0;
}

#sidebar {
  width: 100% !important;
  min-height: 100%;
  border:0;
}

#sidebar > * {
  width: 100%;
}

#portaldetails {
  min-height: 0;
}

.fullimg {
  width: 100%;
}

/*
 * for some reason leaflet popups on mobile are colored white on white
 * so force the popup msg color to black
 */
.leaflet-popup-content{
    color:black;
}


/* add extra padding, and a button effect, to sidebar link areas */
.linkdetails aside  {
  padding: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
  border: 2px outset #20A8B1;
}

#toolbox > a, #toolbox_component > a {
  padding: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
  border: 2px outset #20A8B1;
}

#portaldetails .close {
  padding: 4px;
  border: 1px outset #20A8B1;
  margin-top: 2px;
}

/* FIX ME
   Quick and dirty hack to fix scale-bar position
   Permanent solution should include fixes for attribution control too
   https://github.com/IITC-CE/ingress-intel-total-conversion/issues/89
*/
.leaflet-bottom { bottom: 5px; }

/* Controls for mobile view without an app */
:root {
  --top-controls-height: 38px;
}

body.show_controls #chatcontrols {
  display: flex !important;
  top: 0;
  overflow-x: auto;
  width: calc(100% - 1px);
}

body.show_controls #chatcontrols a {
  flex: 1;
  min-width: fit-content;
  padding: 0 5px;
}

body.show_controls #map {
  height: calc(100vh - var(--top-controls-height) - 25px);
  margin-top: var(--top-controls-height);
}

body.show_controls #scrollwrapper {
  margin-top: var(--top-controls-height)
}

body.show_controls #chat {
  top: var(--top-controls-height) !important;
}