table.artifact {
  tr > * {
    background: rgba(8, 48, 78, 0.9);
  }

  td.info {
    min-width: 110px; /* min-width for info column, to ensure really long portal names don't crowd things out */
  }

  .portal {
    min-width: 200px; /* min-width for portal names, to ensure really long lists of artifacts don't crowd names out */
  }
}
