/* for printing directly from the browser, hide all UI components */
@media print {
    .leaflet-control-container { display: none !important; }
    #chatcontrols, #chat, #chatinput { display: none !important; }
    #sidebartoggle, #sidebar { display: none !important; }
    #updatestatus { display: none !important; }
    #portal_highlight_select { display: none !important; }
  }
  