/* redeem results *****************************************************/
.redeemReward {
    font-family: Inconsolata, Consolas, Menlo, "Courier New", monospace;
    list-style-type: none;
    padding: 0;
    font-size: 14px;
  }
  .redeemReward .itemlevel {
    font-weight: bold;
    text-shadow: 0 0 1px #000; /* L8 is hard to read on blue background */
  }
  /*
  .redeem-result-table {
    font-size: 14px;
    table-layout: fixed;
  }
  
  .redeem-result tr > td:first-child {
    width: 50px;
    text-align: right;
  }
  
  .redeem-result-html {
    font-family: Inconsolata, Consolas, Menlo, "Courier New", monospace;
  }
  */
  