@import './sidebar_search.css';

#scrollwrapper {
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  right: calc(-2 * var(--hidden-scrollbar-width) + 2px + var(--safe-area-inset-right));
  top: var(--safe-area-inset-top);
  width: calc(var(--sidebar-width) + 2 * var(--hidden-scrollbar-width));
  bottom: calc(var(--safe-area-inset-bottom) + 45px);
  z-index: 3001;
  pointer-events: none;
}

#sidebar {
  background-color: rgba(8, 48, 78, 0.9);
  border-left: 1px solid #20a8b1;
  color: #888;
  position: relative;
  left: 0;
  top: 0;
  width: calc(var(--sidebar-width) + var(--hidden-scrollbar-width) + 1px);
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  pointer-events: auto;
}

#sidebartoggle {
  display: block;
  padding: 20px 5px;
  margin-top: -31px; /* -(toggle height / 2) */
  line-height: 10px;
  position: absolute;
  top: calc(var(--safe-area-inset-top) + 108px);
  z-index: 3002;
  background-color: rgba(8, 48, 78, 0.9);
  color: #ffce00;
  border: 1px solid #20a8b1;
  border-right: none;
  border-radius: 5px 0 0 5px;
  text-decoration: none;
  right: var(--safe-area-inset-right);
}

body.sidebar-open .leaflet-right {
  margin-right: calc(var(--sidebar-width) + 1px + var(--safe-area-inset-right));
}

body.sidebar-open #sidebartoggle {
  right: calc(var(--sidebar-width) + 1px + var(--safe-area-inset-right));
}

#sidebar > * {
  border-bottom: 1px solid #20a8b1;
  box-sizing: border-box;
  width: calc(var(--sidebar-width) + 1px);
}

#sidebartoggle .toggle {
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
}

#sidebartoggle .open {
  border-right: 10px solid #ffce00;
}

#sidebartoggle .close {
  border-left: 10px solid #ffce00;
}

/* player stats */
#playerstat {
  height: 30px;
}

h2 {
  color: #ffce00;
  font-size: 21px;
  padding: 0 4px;
  margin: 0;
  cursor: help;
  box-sizing: border-box;
  width: 100%;
}

h2 #name {
  font-weight: 300;
  display: inline;
  vertical-align: top;
  white-space: nowrap;
}

h2 #name .playername {
  max-width: 70%;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

h2 #stats {
  float: right;
  height: 100%;
  overflow: hidden;
}

#signout {
  font-size: 12px;
  font-weight: normal;
  padding: 0 4px;
  background-color: rgba(8, 48, 78, 0.5);
  display: none; /* starts hidden */
  vertical-align: text-top;
}
#name:hover .playername {
  max-width: 50%;
}
#name:hover #signout {
  display: inline-block;
}

h2 sup,
h2 sub {
  display: block;
  font-size: 11px;
  margin-bottom: -2px;
}

/* gamestats */
#gamestat span {
  display: inline-block;
  font-weight: bold;
  cursor: help;
  padding: 0 3px;
  box-sizing: border-box;
}

#gamestat .res {
  background: #005684;
}

#gamestat .enl {
  background: #017f01;
}

/* search input, and others */
input:not([type]),
.input,
input[type='text'],
input[type='password'],
input[type='number'],
input[type='email'],
input[type='search'],
input[type='url'] {
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffce00;
  height: 24px;
  padding: 0px 4px 0px 4px;
  font-size: 12px;
  border: 0;
  font-family: inherit;
  box-sizing: border-box;
}

.leaflet-control-layers input {
  height: auto;
  padding: 0;
}

#portaltitle {
  display: flex;
  margin: 2px 0;
  line-height: 24px;
  white-space: nowrap;
}

#portaltitle .value {
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}

#portaltitle .close {
  margin-right: 2px;
  cursor: pointer;
  color: #ffce00;
  font-weight: normal;
}

/* portal image */
.imgpreview {
  height: 190px;
  background: no-repeat center center;
  background-size: contain;
  cursor: help;
  overflow: hidden;
  position: relative;
}

.imgpreview img.hide {
  display: none;
}

.imgpreview .portalDetails {
  display: none;
}

#level {
  font-size: 40px;
  text-shadow:
    -1px -1px #000,
    1px -1px #000,
    -1px 1px #000,
    1px 1px #000,
    0 0 5px #fff;
  display: block;
  margin-right: 15px;
  text-align: right;
  float: right;
}

/* portal mods */
.mods {
  margin: 3px auto 1px auto;
  width: 296px;
  height: 67px;
  text-align: center;
}

.mods span {
  background-color: rgba(0, 0, 0, 0.3);
  /* can’t use inline-block because Webkit's implementation is buggy and
   * introduces additional margins in random cases. No clear necessary,
   * as that’s solved by setting height on .mods. */
  display: block;
  float: left;
  height: 63px;
  margin: 0 2px;
  overflow: hidden;
  padding: 2px;
  text-align: center;
  width: 63px;
  cursor: help;
  border: 1px solid #666;
}

.mods span:not([title]) {
  cursor: auto;
}

.res .mods span,
.res .meter {
  border: 1px solid #0076b6;
}
.enl .mods span,
.enl .meter {
  border: 1px solid #017f01;
}

/* random details, resonator details */
#randdetails,
#resodetails {
  width: 100%;
  box-sizing: border-box;
  padding: 0 4px;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}

#randdetails td,
#resodetails td {
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
  width: 50%;
}

#randdetails th,
#resodetails th {
  font-weight: normal;
  text-align: right;
  width: 62px;
  padding: 0px;
  padding-right: 4px;
  padding-left: 4px;
}

#randdetails th + th,
#resodetails th + th {
  text-align: left;
  padding-right: 4px;
  padding-left: 4px;
}

#randdetails td:first-child,
#resodetails td:first-child {
  text-align: right;
  padding-left: 2px;
}

#randdetails td:last-child,
#resodetails td:last-child {
  text-align: left;
  padding-right: 2px;
}

#randdetails {
  margin-top: 4px;
  margin-bottom: 5px;
}

#randdetails tt {
  font-family: inherit;
  cursor: help;
}

#artifact_target,
#artifact_fragments {
  margin-top: 4px;
  margin-bottom: 4px;

  margin-left: 8px;
  margin-right: 8px;
}

/* resonators */
#resodetails {
  margin-bottom: 0px;
}

.meter {
  background: #000;
  cursor: help;
  display: inline-block;
  height: 18px;
  padding: 1px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  left: 0;
  top: 0;
}

.meter.north {
  overflow: hidden;
}
.meter.north:before {
  content: '';
  background-color: red;
  border: 1px solid #000000;
  border-radius: 100%;
  display: block;
  height: 6px;
  width: 6px;
  left: 50%;
  top: -3px;
  margin-left: -4px;
  position: absolute;
}

.meter span {
  display: block;
  height: 14px;
}

.meter-level {
  position: absolute;
  left: 0;
  right: 0;
  top: -2px;
  text-shadow: 0em 0em 0.3em #808080;
  text-align: center;
  word-spacing: 4px; /* to leave some space for the north indicator */
}

/* links below resos */

.linkdetails {
  margin-bottom: 0px;
  text-align: center;
}

.linkdetails aside {
  display: inline-block;
  white-space: nowrap;
  margin-left: 5px;
  margin-right: 5px;
}

#toolbox {
  display: none !important;
}

#toolbox,
#toolbox_component {
  text-align: left; /* centre didn't look as nice here as it did above in .linkdetails */
}

#toolbox > a,
#toolbox_component > a {
  margin-left: 5px;
  margin-right: 5px;
  white-space: nowrap;
  display: inline-block;
}

/* a common portal display takes this much space (prevents moving
 * content when first selecting a portal) */

#portaldetails {
  min-height: 63px;
}

/* history details */
#historydetails {
  text-align: center;
  color: #ffce00;
}

#historydetails .missing {
}

#historydetails span {
  color: #ff4a4a;
}

#historydetails span.completed {
  color: #03fe03;
}
